.topPadding{
    padding-top: 12px;
}

.theInputContainer{
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 6px 0;
    vertical-align: middle;
}

#smallBtn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 18px;
    min-width: 44px;
    line-height: 18px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.minHeight{
    max-height : 40px;
    min-height : 40px;
}

.md-subheader .md-subheader-inner {
	display: block;
	padding: 4px;
	color: rgba(255, 255, 255, 0.54);
}

.md-list-item-inner{
 max-height : 40px;
}


#chartFont {
	font-size : 12px;
}
