 <div layout="column" layout-padding>		 
 		 <card-layout name="{{emp.name}}"  >
 				<div layout="row" flex="100">
	 				<div layout="column" flex="80" layout-padding>
		 				<div layout="row">
		 					<span flex="33">Year Of Birth  </span>
		 					<span>:{{emp.age}}</span>
		 					<span flex></span>
		 					
		 				</div>
		 				<div layout="row">
		 					<span flex="33">Last Worked Company  </span>
		 					<span>:{{emp.company}}</span>
		 				</div>
		 				<div layout="row">
		 					<span flex="33">E-mail  </span>
		 					<span>:{{emp.email}}</span>
		 				</div>
		 				<div layout="row">
		 					<span flex="33">Year Of Birth  </span>
		 					<span>:{{emp.age}}</span>
		 				</div>
		 				<div layout="row">
		 					<span flex="33">Phone Number  </span>
		 					<span>:{{emp.phone}}</span>
		 				</div>
		 				<div layout="row">
		 					<span flex="33">Position  </span>
		 					<span>:{{emp.position}}</span>
		 				</div>
	 				</div>
 				
 					<img ng-src="{{emp.picture}}" flex="20" style="max-width:150px; max-height:150px" />	
 				</div>
 			</card-layout>	
 			<div layout="row">
				   <user-info user="user1" collapsed="true"   flex="33"></user-info>
				   <user-info user="user2" collapsed="false"  flex="33"></user-info>
			</div>
			
 			</div>