<div flex="100" layout="row" layout-align="center">
      <md-card layout="column" flex="45"  layout-padding>          
             <div   layout="row" class="md-title topPadding"  layout-align="center center" >
                <span flex></span> <span>{{'Enter your Personal Details'| translate}}</span><span flex></span>
                 <div class='md-caption'>
                 <md-select ng-model="trans" ng-change="chooseLanguage()" placeholder="Choose Your Language">
                  		<md-option value="en">English</md-option>
                  		<md-option value="tn">Tamil</md-option>
                 </md-select></div>
             </div>
            <div   layout="row" layout-wrap layout-align="center" >
             <form name="signUp">
                <div  layout="row" layout-wrap  > 
                    <md-input-container flex="50">
                            <input ng-model="personalInfo.fname" name="fname" ng-required=true placeholder="{{'First Name'| translate}}" aria-label="name"/>
                             <div ng-messages="signUp.fname.$error">
						          <div ng-message="required">This is required.</div>						          
						     </div>
                    </md-input-container>
                    <md-input-container flex="50">
                            <input ng-model="personalInfo.lname"  placeholder="{{'Last Name'| translate}}"
                            			 aria-label="Last Name"/>
                    </md-input-container>
                    <md-input-container flex="50">
                            <input ng-model="personalInfo.email" name="email" placeholder="{{'E-mail'| translate}}"  ng-required=true
                             ng-minlength="10" ng-maxlength="100" ng-pattern="/^.+@.+\..+$/"  aria-label="email"/>                               
                             <div ng-messages="signUp.email.$error" >
						          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
						            Your email must be between 10 and 100 characters long and look like an e-mail address.
						          </div>
						      </div> 
                    </md-input-container>
                    <md-input-container flex="50">
                            <input ng-model="personalInfo.pno"  placeholder="{{'Phone Number'| translate}}" aria-label="name"/>
                    </md-input-container>
                     <div flex="50"><md-select ng-model="personalInfo.sex"   placeholder="{{'Sex'| translate}}"  aria-label="sex">
                            <md-option value="m">{{'Male'| translate}}</md-option>
                            <md-option value="f">{{'Female'| translate}}</md-option></md-select></div>
                     <md-input-container>                         
                          <md-datepicker ng-model="personalInfo.dob" placeholder="{{'Date Of Birth'| translate}}"  flex="50"></md-datepicker>      
                     </md-input-container>
                    <div flex="100" layout="row" layout-align="center">
                           <md-button class="md-accent md-raised" aria-label="sign up">{{'Sign Up'| translate}}</md-button>
                           <md-button class="md-accent md-raised" aria-label="cancel">{{'Cancel'| translate}}</md-button>
                    </div>
                </div></form>
            </div>   
      </md-card>
</div>