<div layout="column"    layout-align="center"    flex="100">
     <div layout="row" class="flip" flex="35" layout-align="center" ng-class="{'flipped':isFlipped}" >
        <md-card   flex="25" class="md-padding face back" layout="column" layout-align="center" ng-show="!isFlipped" >            
                  <div layout="row" class="md-title" layout-align="center">        
                        <span>LOGIN</span>
                  </div>  
                  <div layout="row" class="topPadding" layout-align="center">
                  <md-input-container class="theInputContainer"  flex="80">                     
                      <input ng-model="username" placeholder="UserName"  aria-label="username" />
                  </md-input-container></div>
                   <div layout="row" layout-align="center">
                  <md-input-container class="theInputContainer"  flex="80">
                      <input ng-model="password"  placeholder="Password" aria-label="password"/>
                  </md-input-container> </div>
                  <div layout="row"layout-align="center"  >
	                    <md-button class="md-raised md-primary  " ng-click="loginCheck()" aria-label="login">
	                        Login
	                    </md-button>
	                    <md-button ui-sref="form" class="md-raised md-primary" aria-label="password">
	                        Sign Up
	                    </md-button>                  
                  </div> 
                   <div layout-padding layout="row"layout-align="center"  >                 
						 <span class="md-caption" ng-click="isFlipped=!isFlipped" >
						    <font color="blue" style="text-decoration: underline;">Forget Password?</font>
						 </span>			
				   </div>                   		
        </md-card> 
         <md-card flex="25" class="md-padding face front" layout="column" layout-align="center" ng-show="isFlipped" style="-webkit-transform: rotatey(-180deg);" >            
                
                   <div   layout="column"layout-align="center"  >                 
						 <md-input-container class="md-block">
						 		<input ng-model="username" placeholder="Enter Your User Name" />
						 </md-input-container>	
						<div> <md-button ng-click="isFlipped=!isFlipped" ng-class="md-primary"> Send Link</md-button></div></div>
				   </div>                   		
        </md-card> 
        
        
        </div> 
</div>
